*.out
README~
*.slurm~
*.slm~
*.f90~
*.*~
.nfs*
*.e
*.o
*.tgz
*.tar.gz
test_examples
kaya_examples/abaqus/truck
kaya_examples/abaqus/data
kaya_examples/abaqus/data2
kaya_examples/abaqus/data3
src/abaqus/truck
src/abaqus/boltpipeflange

